@import url(https://fonts.googleapis.com/css?family=Open+Sans);

nav {

}

#png1 {
    position:absolute;
    top:40a;
    left:0;
    z-index:0;
    width: 100%;
}


.bg-light {
  /* background-color: #f8f9fa !important; */
  background-color: #88abff !important;
}

.bg-dark {
background-color: #343a40 !important;
background-color: #d1e3ff !important;

}


.lead {
  font-size: 200%;
}


body {
  font-family: 'Open Sans', 'sans-serif';
  background-color: #e6f8ff;

}

#contact {
  text-align: left!important;
}




/* header */
h1 {
  color: #55acee;
  text-align: center;

}

h2 {
  font-size: 50px;
}


#buttons {
  padding-top: px;
  text-align: center;
}

#topvid {
background-color: #e6f8ff;

}

video {
    position:
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #88abff;
    height: auto;
    overflow: hidden;
    position: relative;
}

.container {
    position: relative;
}

.btn {
  height: 150px
  width: 150px;
  padding: 50px 50px;
  font-size: 80px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  border-radius: 150px;

}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #DB162F;
  box-shadow: 0px 5px 0px 0px #3B1F2B;
}

.blue:hover {
  background-color: #950F21;
}

.green {
  background-color: #DB162F;
  box-shadow: 0px 5px 0px 0px #3B1F2B;
}

.green:hover {
  background-color: #950F21;
}


@media (min-width: 768px) {
.mr-md-3, .mx-md-3 {
margin-right: 0rem !important;
}
}


@media (min-width: 768px) {
.m-md-3 {
margin-top: 1rem !important;
margin-bottom: : 1rem !important;
margin-left: 0rem !important;
margin-right: 0rem !important;

}
}

/* bootstrap.min.css | https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css */

@media (min-width: 768px) {
  .col-md-5 {
    max-width: 100%; */
  }
}
